HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# IDE
.gradle/
*~
.DS_Store
/out/
output/
.bundle
vendor/ruby
output_stage_one/
.idea/
.idea_modules/
*.class
.settings/
.fbExcludeFilterFile
.fbIncludeFilterFile
/tmp

# Package Files
*.jar
*.war
*.ear
*.rpm
pom.xml.versionsBackup

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Coverage reports
.coverage
htmlcov/

# JIRA plugin
atlassian-ide-plugin.xml

# Project
*.log
*.log.gz
*.retry
